body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(189, 189, 183, 0.936);
  background-image: url("../images/stars1.png");
}

h1{
  font-family:"'Courier New', Courier, monospace";
  color: #5d440a;
  text-align: center;
  padding: 20px;
  font-size: 3.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  position: relative;
}

.column {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #5d440a;
  position: relative;
}

.column h2 {
  margin-top: 0;
  display: flex;
  align-items: center; /* Center items vertically */
  color: aliceblue;
  padding-left: 10px;
}

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px; /* Increased margin for space between tasks */
  cursor: pointer;
  font-size: 1.3rem;
}

.task[contenteditable="true"] {
  background-color: rgba(189, 189, 183, 0.936);
  padding: 10px;
}

#trash-bin {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  line-height: 100px; /* Increased line-height for space */
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
img {
  width: 75px;
  background-color: rgba(0, 255, 17, 0.363);
  padding: 10px;
}

#add-task {
  width: 40px;
  height: 40px;
  background-color: #007bffef;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-left: 80%; /* Added margin to separate from the "+" sign */
}
